body {
    background-color: rgb(201, 196, 196);
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#screen {
    
    height: 40em;
    width: 60em;
    margin: 60px;
    border-radius: 0.3em;
    border: 5px solid #d0cfcf;
    border-color:#4e4d4d;
    box-shadow: 
    10px 10px 20px rgba(255, 255, 255, 0.1),
    -10px -10px 20px rgba(0, 0, 0, 0.8);

}
/* .img {
    height: 40em;
    width: 60em;
    object-fit: cover;
} */

.basicScreen {
    background-color: black;
}
.startingScreen {
    background-image: url("../img/sony.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
#remote {
    background-color: rgb(40, 38, 38);
    height: 30em;
    width: 10em;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 0.4em;
    box-shadow: 
        10px 10px 20px rgba(255, 255, 255, 0.1),
        -10px -10px 20px rgba(0, 0, 0, 0.8);


}

.botonesA {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
 
}

.vacio {
    height: 2.5rem;
    width: 2.5rem;
    margin: 2px;
}


.botonesD {
    display: flex;
    margin: 2px;

}

.volumen {
    display: flex;
    flex-direction: column;
}

.exit-mute {
    display: flex;
    flex-direction: column;
}

.canales {
    display: flex;
    flex-direction: column;

}

button {
    border-radius: 100%;
    background-color: rgb(29, 28, 28);
    color: white;
    height: 2.5rem;
    width: 2.5rem;
    margin: 2px;
    font-weight: bold;
}
.btnText {

    font-size: 7px;
    text-align: center;
    
}
.botonesE {
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 3px;

}

#buttontNetflix {
    color: red;
    font-weight: bold;
    font-size: 20px;
    background-color: white;
    border-radius: 20%;
    height: 2rem;
    width: 2rem;
    margin-right: 7px;
   
}
#buttonYoutube {
    background-color: red ;
    border-radius: 50%;
    border-radius: 20%;
    height: 2rem;
    width: 2rem;
    margin-left: 7px;
}
.red {
    color: red;
    height: 1.875rem;
    width: 1.875rem;
}

.green {
   color: green;
    height: 1.875rem;
    width: 1.875rem;
    
}

.blue {
    color: blue;
    height: 1.875rem;
    width: 1.875rem;
}

.yellow {
    color: yellow;
    height: 1.875rem;
    width: 1.875rem;
}
.canal1 {
    background-image: url("..//img/et-escenas-peliculas-epicas-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}

.canal2 {
    background-image: url("../img/La-2-TVE.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 
}

.canal3 {
    background-image: url("../img/hp-escenas-peliculas-epicas-11.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}
.canal4 {
    background-image: url("../img/piratas-escenas-peliculas-epicas-13.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}

.canal5 {
    background-image: url("../img/avatar.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.canal6 {
    background-image: url("../img/alicia-escenas-peliculas-epicas-9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.canal7 {
    background-image: url("../img/joker.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}
.canal8 {
    background-image: url("../img/peppa.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.canal9 {
    background-image: url("../img/diamantes.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.netflix {
background-image: url("../img/netflix.png");
background-repeat: no-repeat;
background-size: cover;
background-position: center;

background-size: cover;
}
.youtube {
background-image: url("../img/youtube.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;

}

#info {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    height: 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
   
  
}
.inf{
    margin: 8px;
    color: white;
    font-family:monospace;
    font-size: 20px;
}